<%- include('./partials/header') %>

   <div class="welcome">
      <h4>Welcome to KoreaTown Finder!</h4>
      <p>
        There is a common saying amongst traveling Koreans, "Wow! you can find Koreans anywhere!" 
        After hearing this phrase growing up and witnessing this for myself throughout my travels, 
        I developed a strong curiousity about K-Towns around the world! With a global effort, 
        I hope that we can all share our local KoreaTowns and experience how differnt AND similar we can be!
      </p>
    </div>

    <div class="koreanFlag">
      <img src="https://i.imgur.com/cqctB3H.png" alt="South Korean Flag" />
    </div>
  </body>
</html>
