<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="/">Home</a>
    <a href="/articles" class="brand-logo left">Koreatowns</a>
    
    
    <!-- <form action="/articles/<%#= articles.id %>?_method=PUT" method="POST" autocomplete="off">
        <textarea name="comments"><%#= articles.comments %></textarea>
        
        <button type="submit">Save Comment</button>
    </form> -->
    
    <h1>Edit Comment</h1>
    <form action="/comments/<%= comments._id %>?_method=PUT" method="POST">
        <!-- Value attribute is being set to the comment's current text -->
        <textarea name="comments"><%= articles.comments %></textarea>

        <!-- <input name="text" value="<%#= articles.comments.text %>"> -->
        <button type="submit">UPDATE COMMENT</button>
      </form>
   

</body>
</html>