<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Towns</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <a href="/">Home</a> 
    <a href="/articles/new" class="brand-logo left">Add New Town</a>

    <h1>Check Out Koreatowns From All Over The World!</h1>
    
        
        <ul>
          <% articles.forEach(function(t) { %>
            <li>
              <form action="/articles/<%= t._id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
              </form>
              <a href="/articles/<%= t.id %>"><%= t.title %></a>
              
            </li>
          <% }); %>
        </ul>
    
</body>
</html>