body {
  background-color: black;
  /* margin: 0;
  text-align: center;
  background:-webkit-linear-gradient(180deg,white 33%,blue 33%) */
}

.navbar-fixed {
  background-image: linear-gradient(to bottom right, red, blue);
  height: 13vh;
  width: 100%;
  margin: 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px 25px;
}

.login {
}

a {
  color: black;
}

.second-nav {
  background-color: black;
  display: flex;
  justify-content: center;
}

.second-nav > a {
  color: white;
  padding: 0 25px;
}

.welcome {
  color: white;
  border: 1px solid white;
  background-image: linear-gradient(to bottom right, red, blue);
  margin: 0 0 20px 0;
}

img {
  height: 75%;
  width: 75%;
}

.indexBody {
  background-color: white;
}

.indexTitle {
  text-align: center;
}

.articleList {
  list-style-type: none;
}

.listItem {
  border: black 1px solid;
}

.articleLink {
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
  height: 200px;
  background-color: white;
  border: solid black 1px;
  text-align: center;
  padding: 20px;
}

.listImage {
  height: 100%;
  width: 50%;
}

.koreanFlag {
  text-align: center;
}

/* div {
display: flex;
flex-direction: row;
justify-content: space-around;
text-align: center;  
background-color: rgb(32, 74, 140);
padding: 20px;
font-size: 35px;
}

header {
  height: 1000px;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
}

div > a {
  font-weight: bold;
}

.brand-logo {
  background-color: red;
}


a {
  color: black;
}

h1 {
  font-size: 60px;
  background-color: red;
  color: black;
}

h2 {
  font-size: 40px;
  text-decoration: underline;
  color: black;
}
ul {
  border: solid red 10px;
  background-color: red;
  list-style-type: none;
}

li {
  font-size: 50px;
  background-color:rgb(242, 245, 249);
  border: solid black 1px;
  text-align: center;
}

  button {
    color: red;
  }

  img {
    height: 100%;
    width: 100%;
  }
  footer {
    height: 20px;
  } */
