body {
  margin: 0;
  text-align: center;
  background-color: rgb(242, 245, 249);
}

/* this section is the top bar */
div {
text-align: center;  
background-color: rgb(32, 74, 140);
padding: 20px;
  font-size: 35px;
}

div > a {
  font-weight: bold;
}

.brand-logo {
  background-color: red;
}


a {
  color: black;
}

h1 {
  font-size: 60px;
  background-color: red;
  color: black;
}

h2 {
  font-size: 40px;
  text-decoration: underline;
  color: black;
}
ul {
  border: solid red 10px;
  border-width: 20px 30px 20px 0;
  background-color: red;
  list-style-type: none;
}

li {
  display: flex;
  font-size: 50px;
  height: 200px;
  background-color:rgb(242, 245, 249);
  border: solid black 1px;
  text-align: center;
  padding: 20px;
}

  button {
    color: red;
    margin: 0 20px 0 0;;
  }

  img {
    height: 100%;
    width: 100%;
  }
  footer {
    height: 20px;
  }